.qu{
    border: 1px solid black;
    height: 19em;
    width: 50em;
    padding: 0em;
    margin-left: 16em;
    margin-bottom: 0em;
    margin-top: 7em;
    display: flex;
    justify-content: center;
}

.qu p{
    margin: 1em;
}