.qu{
    border: 1px solid black;
    height: 13em;
    width: 50em;
    padding: 0em;
    margin-left: 16em;
    margin-bottom: 0em;
    margin-top: 7em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}

footer {
    margin-top: 100px;
}

.qu p{
    margin: 1em;
}
.qu img{
    margin-right: 3px;
}
.qu1{
    border: 1px solid black;
    height: 16em;
    width: 50em;
    padding: 0em;
    margin-left: 16em;
    margin-bottom: 0em;
    margin-top: 7em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;


}
.qu1 p{
    margin: 1em;
}
.qu1 img{
    margin-right: 3px;
}

.qu2{
    border: 1px solid black;
    height: 16em;
    width: 50em;
    padding: 0em;
    margin-left: 16em;
    margin-bottom: 0em;
    margin-top: 7em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;

    
}
.qu2 p{
    margin: 1em;
}
.qu2 img{
    margin-right: 3px;
}