/*caixas de texto e botões do contato*/

.texto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vh;
    margin: 0;
}

#formcontato {
    display: flex;
    flex-direction: row;
}